CMakeLists.txt.user
Module.symvers
modules.order
*.a
*.o
*.ko
*.so
*.mod
*.mod.c
*.kdev4
__pycache__
*.tar
*.tar.gz
*.tar.bz2
.kdev4
.kate-swp
.swp
build
CMakeFiles
CMakeCache.txt
Makefile
cmake_install*
compile_commands.json
install_manifest.txt
falcon-as
test/eval/test-boost-python
test/integration/boost-regex/test-boost-regex
test/integration/event/test-event
test/integration/string-functions/test-string-functions
test/integration/vector-multi-erase/test-Vector-multi-erase
test/performance/test-performance
