CMakeLists.txt.user
Module.symvers
modules.order
*.o
*.ko
*.so
*.mod
*.mod.c
*.kdev4
__pycache__
*.tar
*.tar.gz
*.tar.bz2
.kdev4
.kate-swp
.swp
build
CMakeFiles
CMakeLists*
Makefile
cmake_install*
compile_commands.json

