<config>
    <namespaces>
        <namespace>
            <id>app1</id>
            <hostname>testapp1.local</hostname>
            <path>/app1</path>
            <interpreters>2</interpreters>
        </namespace>
        <namespace>
            <id>app2</id>
            <hostname>testapp2.local</hostname>
            <path>/app2</path>
            <interpreters>2</interpreters>
        </namespace>
    </namespaces>
    <global>
        <run>
            <user>x0-http</user>
            <group>x0-http</group>
        </run>
        <path>
            <base>/var/www</base>
        </path>
        <connection>
            <timeout>600</timeout>
            <ipv4>
                <address>127.0.0.1</address>
                <port>80</port>
            </ipv4>
        </connection>
        <server>
            <mimetypes>
                <mimetype>html</mimetype>
                <mimetype>js</mimetype>
                <mimetype>json</mimetype>
                <mimetype>css</mimetype>
                <mimetype>png</mimetype>
                <mimetype>jpg</mimetype>
                <mimetype>svg</mimetype>
                <mimetype>woff2</mimetype>
            </mimetypes>
        </server>
        <performance>
            <server>
            <cpus>
                <cpu>0</cpu>
            </cpus>
            </server>
            <staticfs>
                <cpus>
                    <cpu>1</cpu>
                    <cpu>2</cpu>
                </cpus>
            </staticfs>
        </performance>
    </global>
</config>
